@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Spline+Sans:wght@400;500;600;700&family=Ubuntu:wght@300&display=swap');
:root{
    --quick-silver:hsla(0,0%,65%,1);
    --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: rgb(243, 238, 232);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  /* font- */
}

body{
    background-color:var(--davys-grey);
    color:#777;
    font-family:var(--fontFamily-dm_sans);
    font-size:var(--fontSize-body-4);
    font-weight:var(--weight-regular);
    line-height:var(--lineHeight-5);
    line-height: 1.7;
    margin: 0 auto;
    padding: 0;
    
    height:300vh;
    /* font-family:"Spline Scans",sans-serif ;
    color:#777;
    line-height: 1.7;
    margin: 0 auto;
    padding: 0; */
}
html {
    
    scroll-behavior: smooth;
  }
h1,h2,h3,h4,h5,h6{
    font-weight:800 ;
    color:#000;
}
a{
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}
a:hover{
    background-color: var(--quick-silver);
    
    /* transform: translateY(-40px);
    transition: var(--transition-1); */
}
/* //hover color// */
/* .nav-color{
    border: 1px solid red;
} */
.navbar{
    /* background-image: url(../images/pasta.jpg); */
    border: 3px solid blue;
}



img{
    width:100%;

    
}
.navbar-brand img{
    margin-left: -210px;
    height:50px;
    width:50px;
    border-radius:50%;
  

}
section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.shadow-on-hover{
    transition: all 0.3s;
}
.shadow-on-hover:hover{
box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}
/* Btn */
.btn{
    border-radius:0;
    padding:14px 38px;
}
.btn-brand{
    color:#fff;
    font-weight: 500;
    border-color: #F58d17;
    background-color:#08262e ;
}
.btn-brand:hover{
    border-color: #de7b0a;
    background-color:#e8a559 ;
    color:#fff;


}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

}
/* Slider */
.slide-1{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/images/chickenchow.jpg);

}
.slide-2{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/images/pasta.jpg);

}
#heroSlider h6::after,
#heroSlider h6::before{
    content:"";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display:inline-block;
    margin:10px;
    vertical-align: middle;
}
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
} 
/* About */
#about .divider{
    width: 60px;
    height: 2px;
    display:block;
    background-color: #F58d17;


}
/* intro text */
.intro-text{
    margin-bottom: 40px;
    text-align: center;

}
.intro-text p{
    max-width: 500px;
    margin:16px auto 0 auto;
}
/* Menu */
#menu .nav-pills .nav-link{
    background-color:#fff ;
    margin-left: 8px;
    margin-right: 8px;
    color:#fce9e9;
    border-radius: 10px;
    

}
.nav-link span{
  color:whitesmoke;
  font-weight: 900;
}
#menu .nav-pills .nav-link.active{
    background-color: #F58d17;
    color:#ffffff;
}
.menu-item .stars{
    color:#F58d17;
}
#features{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/images/salad20.jpg);
}
.feature{
    border:2px solid rgba(255,255,255,0.2);
}
.feature .feature-icon{
    width: 80px;
    height: 80px;
    background-color: #F58d17;
    color:#fff;
    font-size: 28px;
    display: inline-grid;
    align-content:center;
    text-align: center;

}
/* Team */
.team-member{
    max-width: 140px;
    box-shadow: -10px -10px 0 #F58d17;
    border-radius: 10px;
    
}
/* Reservation */
#reservation .form-control{
    border-radius: 0px;
}
#reservation .form-control:focus{
    box-shadow: none;
    border-color: #F58d17;

    
}
#reservation input .form-control{
    height: 47px;
}
/* Blog Post */
.blog-post img{
    width: 40%;
    object-fit: cover;
}
@media (max-width: 768px){
    .blog-post{
        flex-direction: column;
    }
    .blog-post img{
        width: 100%;
    }
}
footer{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/images/salad20.jpg);
    padding-top:120px;
    padding-bottom: 30px;

}
.footer-top{
    margin-bottom: 30px;
}
footer p,footer a{
    color:rgba(255,255,255,.75);
}
footer a{
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
}
footer img{
    max-width: 175px;
}
.footer-bottom{
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,.4);
}

 /* delivery part */
 .home {
    padding-top: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
  section {
    padding: 2rem 9%;
  }
  .home .image img {
    width: 100%;
  }  
  .home .content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .home .content p {
    color: var(--grey);
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .home .content .home-btn {
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    transition: var(--transition);
  }
  
  .home .content .home-btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
  }

 /* responsive part */
 @media (max-width: 999px) {
    .home .content h1 {
      font-size: 4rem;
    }
  }
  


  /* add new style---grilli */

.nav-color{
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 40px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}
  


 

























  /* reservation part */
  /* .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
} */